<a href="https://colab.research.google.com/github/2303A510F7/Datamining/blob/main/ADMLABEXAM_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data = {
    'A': [1, 2, 2, 4, 5, 5],
    'B': [10, 20, 20, 40, 50, 50],
    'C': ['a', 'b', 'c', 'd', 'e', 'd']
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)
df_unique= df.drop_duplicates()
print("\nDataFrame after removing duplicates:\n", df_unique)

Original DataFrame:
    A   B  C
0  1  10  a
1  2  20  b
2  2  20  c
3  4  40  d
4  5  50  e
5  5  50  d

DataFrame after removing duplicates:
    A   B  C
0  1  10  a
1  2  20  b
2  2  20  c
3  4  40  d
4  5  50  e
5  5  50  d